<%= form_tag ({controller: 'sessions', action: 'create', method: 'post'}) do %>
  <select name=user_name>
    <% User.all.each do |user| %>
      <option name=<%= user.name %> value=<%= user.id %>><%= user.name %></option>
    <% end %>
  </select>
  <input name=password>
  <input type=submit value='Sign In'>
<% end %>

