<%= form_for @user, url: signin_path, method: :post do |f| %>
<%= f.collection_select :name, User.all, :name, :name, include_blank: true %>
<label>Password</label>
<input type="password" id="password" name="user[password]">
<%= f.submit "Sign In" %>
<% end %>