<h1>Sign In!</h1>

<%= form_tag @user do |f| %>
  <label>Username:</label><br>
  <%= select_tag :'user[name]', options_for_select(User.all.collect{ |u| [u.name] }) %><br>

  <label>Password:</label><br>
  <%= password_field_tag :'user[password]'%></br>

  <%= submit_tag "Sign In" %>

<% end %>
