<h2>Log In</h2>
<%= form_tag('/sessions', method: 'post') do %>
  Username: <%= select_tag(:user_name, options_from_collection_for_select(@users, :name, :name, :required)) %>
  Password: <%= password_field_tag(:password) %>
  <%= submit_tag("Sign In") %>
<% end %>
