<%= form_tag('/signin') do %>
<label>Users: </label><br>
<input type="text" id="name" name="user[name]"><br>
<label>Password:</label><br>
<input type="password" id="password" name="user[password]">
<input type="submit" value="Sign In" id="submit">
<% end %>