<h1><%= @attraction.name %></h1>
Tickets Needed: <%= @attraction.tickets %><br>
Minimum Height: <%= @attraction.min_height %> inches<br>
<br>
<%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
