<label>Name:</label><br>
<input type="text" id="user[name]" name="user[name]"><br>

<label>Height:</label><br>
<input type="number" id="user[height]" name="user[height]"><br>

<label>Happiness:</label><br>
<input type="number" id="user[happiness]" name="user[happiness]"><br>
 
<label>Nausea:</label><br>
<input type="number" id="user[nausea]" name="user[nausea]"><br>

<label>Tickets:</label><br>
<input type="number" id="user[tickets]" name="user[tickets]"><br>

<label>Password:</label><br>
<input type="password" id="user[password]" name="user[password]"><br>

Admin:<br>
<input type="checkbox" id="user_admin" name="user[admin]" value="true"> True <br>

<input type="submit" value="Create User">