<center>
<img src="http://www.washingtonpost.com/wp-srv/special/health/why-roller-coasters-make-us-scream/images/rollercoasterBackground.jpg" width="100%">

<h1>Welcome to the //Amusement Park!</h1>
</center>
