<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>
<%= form_tag ({controller: 'users', action: 'create', method: 'post'}) do %>
   Admin: <%= check_box :user_name, :admin %>
   <br>
   Name: <input name=user[name]>
   <br>
   Height: <input name=user[height]>
   <br>
   Happiness: <input name=user[happiness]>
   <br>
   Nausea: <input name=user[nausea]>
   <br>
   Tickets: <input name=user[tickets]>
   <br>
   Password: <input name=user[password] type=password>
   <br>
   <input type=submit value="Create User">
<% end %>