<h1>Welcome#home</h1>
<p>Find me in app/views/welcome/home.html.erb</p>


<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://i.ytimg.com/vi/lihIoTTkwhs/maxresdefault.jpg">
  </div>
  <h1 align="center">Welcome to the //Amusement Park!</h1>
</div> 