<h1>Welcome to Rails Amusement Park Sign Up!</h1>
<p>You are logged in as: <%= session[:name] %>.</p>
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='logout'>
<% end %>