<ul>
  <% @attractions.each do |attraction| %>
    <li>
    <% if @user %>
      <%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></li>
    <% else %>
      <%= attraction.name %>
    <% end %>
  <% end %>
</ul>

