<% @attractions.each do |t| %>
    <p>Name <%= t.name %></p>
    <p>Tickets <%= t.tickets %></p>
    <p>Details <%= link_to "Show #{t.name}", attraction_path(t) %> </p>
    <%end%>
    
 
<%= link_to "New Attraction", new_attraction_path %>