<% @attractions.each do |attraction|%>
<p><%= link_to "Go on #{attraction.name}", attraction_path(attraction) %></p>
<%end%>

<% if current_user.admin %>
  <div><%= link_to "New Attraction", new_attraction_path %></div>
<% end %> 
