<h1>Listing Attractions</h1>
<ul>
    <li>Name            Tickets         </li>
<%= @attractions.all.each do |attraction|%>
    <li><%=@attraction.name         @attraction.tickets         %></li>
</ul>
