<h2>The Attractions</h2>
<br>

<%@attractions.each do |att|%>
<%=link_to "Go on #{att.name}", attraction_path(att)%><br>
 <%end%>

<br/>
<%if @user.admin%>
  <%=link_to "New Attraction", new_attraction_path%><br>
<%end%>
 