<h1>Attractions</h1>
<h2>Are you <i>attracted</i> yet?????</h2>
<ol>
<% if current_user.admin %>
    <% @attractions.each do |a| %>
        <li><%= link_to "Show #{a.name}", attraction_path(a) %></li>
    <% end %>
    <h2><%= link_to "New Attraction", new_attraction_path %></h2>
<% else %>
    <% @attractions.each do |a| %>
        <li><%= link_to "Go on #{a.name}", attraction_path(a) %></li>
    <% end %>
<% end %>
</ol>