<h1>Attractions</h1>
<br>
<ul>
  <% @attractions.each do |ride| %>
    <% if current_user.admin == true %>
      <li><%= link_to "Show #{ride.name}", attraction_path(ride) %></li>
    <% else %>
      <li><%= link_to "Go on #{ride.name}", attraction_path(ride) %></li>
    <% end %>
  <% end %>
</ul>


<% if current_user.admin == true %>
  <p><%= link_to "New Attraction", new_attraction_path %></p>
<% end %>
