<ul>
  <% Attraction.all.each do |attr| %>
    <li>
      <% if @user.admin %>
        <%= link_to "Show #{attr.name}", attraction_path(attr)%>
      <% else %>
        <%= link_to "Go on #{attr.name}", attraction_path(attr)%>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "New Attraction", :new_attraction %>