<h1>List of Attractions</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Name</th>
      <th>Tickets</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    <% @attractions.each do |attr| %>
      <tr>
        <td>attr.name</td>
        <td>attr.tickets</td>
        <% if current_user.admin %>
          <td><%= link_to "Show #{attr.name}", attraction_path(attr) %></td>
        <% else %>
          <td><%= link_to "Go on #{attr.name}", attraction_path(attr) %></td>
        <% end %>
      </tr>
    <% end %> 
  </tbody>
</table>

<% if @user %>
  <p>
    <%= link_to "Back to Profile", user_path(@user), {:class => "btn btn primary"} %>
  </p>
<% else %>
  <p>
    <%= link_to "New Attraction", new_attraction_path %>
  </P>
<% end %>