<h1>Attractions</h1>
<% @attractions.each do |a| %>
    <p><%= a.name %> --- Ticket Cost: <%= a.tickets %> --- 
    <%= link_to a do %>
        Go on <%= a.name %>
    <% end %>
    </p>
<% end %>