<h1>Attractions</h1>
<% if current_user.admin %>
  <%= render partial: 'admin', locals: {attractions: @attractions} %>
<% else %>

  <ul>
  <% @attractions.each do |a| %>
    <li><%= link_to "Go on #{a.name}", attraction_path(a)  %>
  <% end %>
  </ul>
<% end %>
