<ul>
  <% attraction_verb = current_user.admin ? "Show" : "Go on" %>
  <% @attractions.each do |attraction| %>
    <li> <%= link_to "#{attraction_verb} #{attraction.name}", attraction %> </li>
  <% end %>
</ul>

<% if current_user.admin %>
  <%= link_to "New Attraction", new_attraction_path %>
<% end %>