<h1><%= @attraction.name %></h1>

<% if is_admin? %>
  <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>
  <h2><%= button_to "Go on this ride", user_path(@user), method: :post, params: {attraction_id: @attraction.id} %></h2>
<% end %>
